/* border color: #bdc3c7 */
/* date color: #3498db */
/* font: source sans pro */

body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 700px; 
    width: 80%;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    padding: 20px;
}

h3 {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 200px;
}

h2 {
    color: #2c3e50;
    font-weight: 700;
    font-size: 2rem;
}

.highlight {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

hr {
    /* from css-tricks.com */
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(50, 50, 50, 0), rgba(50, 50, 50, 0.75), rgba(50, 50, 50, 0));
}

.post {
    margin-bottom: 20px;
}